<a href="https://colab.research.google.com/github/Patchaa119/datavis2025/blob/main/Dictionary_Function_Loop_Condition_2025_663020583_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

# Dictionary

In [ ]:
dict_a = {'abc':123, 'def':456, 'ghi':789}

In [ ]:
dict_a

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
dict_a['def']

456

In [ ]:
dict_b = {}

In [ ]:
dict_b['a'] = 123

In [ ]:
dict_b

{'a': 123}

In [ ]:
dict_b['a'] = 567

In [ ]:
dict_b ### add ซ้ำ ตัวเดิมจะหายแล้วถูกแทนที่ด้วยค่าใหม่

{'a': 567}

# การ add สมาชิกเข้าไปใน dict

In [ ]:
if 'b' not in dict_b:
    dict_b['b'] = 123

In [ ]:
dict_b

{'a': 567, 'b': 123}

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

In [ ]:
### mine
def square_number(number):
    result = number ** 2
    return result
print(square_number(5))  # จะได้ผลลัพธ์ 25

25

In [ ]:
### mine
def to_uppercase(text):
    output = text.upper()
    return output
print(to_uppercase("hello"))  # จะได้ "HELLO"

HELLO

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Thanapong')

In [ ]:
print_myname()

Thanapong

In [ ]:
def print_name(surname,ID,name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('อินทระ','64xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 64xxxxxx'

In [ ]:
print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
print_name('Stat')

'ชื่อ Stat'

In [ ]:
a = print_name('Stat')
a

'ชื่อ Stat'

In [ ]:
### mine
def print_name(name):        # ตัวอย่าง function ที่มีครบทุกส่วน
    st = f'ชื่อ {name}'
    return st

In [ ]:
print_name('Stat')

'ชื่อ Stat'

In [ ]:
A = print_name('Stat')
A

'ชื่อ Stat'

In [ ]:
def print_fullname(surname,ID,name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_fullname('Deeya','66xxxxxxx','Patcharee')

'ชื่อ Patcharee นามสกุล Deeya รหัส 66xxxxxxx'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('รุ่งแสง','กองสุข','663020551-8') ### ถ้าไม่ใส่ค่าให้ ก็จะ default คือติด F

ชื่อ รุ่งแสง นามสกุล กองสุข รหัส 663020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย') ### ใส่ input ไม่ครบจะติด error

# Quiz3
เขียน function ของ HW2
commit "quiz5"

Mine

In [ ]:
def quiz5(timeinput):
    day_order = {
        'Sunday': 0, 'Monday': 1, 'Tuesday': 2, 'Wednesday': 3,
        'Thursday': 4, 'Friday': 5, 'Saturday': 6
    }

    # แยกเป็นสองฝั่งซ้าย-ขวา
    start_str, end_str = timeinput.strip().split(' - ')
    time1_str, day1_str = start_str.split(', ')
    time2_str, day2_str = end_str.split(', ')

    # แปลงเวลาเป็นวินาที
    h1, m1, s1 = map(int, time1_str.split(':'))
    h2, m2, s2 = map(int, time2_str.split(':'))
    t1_sec = h1 * 3600 + m1 * 60 + s1
    t2_sec = h2 * 3600 + m2 * 60 + s2

    # คำนวณจำนวนวัน
    day_diff = (day_order[day2_str] - day_order[day1_str]) % 7
    sec_diff = t2_sec - t1_sec

    # ถ้าเวลาจบมาก่อนเวลาเริ่ม ต้องยืมวัน
    if sec_diff < 0:
        sec_diff += 86400
        day_diff -= 1

    return day_diff, sec_diff

In [ ]:
d, s = quiz5("12:30:15, Wednesday - 13:41:07, Thursday")
print(f"{d} วัน {s} วินาที")

1 วัน 4252 วินาที

In [ ]:
d, s = quiz5("12:53:15, Monday - 00:59:25, Tuesday")
print(f"{d} วัน {s} วินาที")

0 วัน 43570 วินาที

In [ ]:
d, s = quiz5("16:06:09, Sunday - 11:11:11, Tuesday")
print(f"{d} วัน {s} วินาที")

1 วัน 68702 วินาที

ของรุ่นพี่

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

AI

In [ ]:
# prompt: เขียน function คำนวณวินาที จาก เวลาที่ใส่เข้ามา

def convert_to_seconds(time_str):
    """Converts a time string (HH:MM:SS) to seconds."""
    h, m, s = map(int, time_str.split(':'))
    return h * 3600 + m * 60 + s

def calculate_time_difference_in_seconds(time_range_str):
    """
    Calculates the time difference in seconds between two time points in a string
    formatted as 'HH:MM:SS-HH:MM:SS'.
    """
    start_time_str, end_time_str = time_range_str.split('-')
    start_seconds = convert_to_seconds(start_time_str)
    end_seconds = convert_to_seconds(end_time_str)

    # Handle cases where the end time is on the next day
    if end_seconds < start_seconds:
        end_seconds += 24 * 3600  # Add seconds in a day

    return end_seconds - start_seconds

# Example usage:
time_input = '12:30:15-13:41:07'
difference = calculate_time_difference_in_seconds(time_input)
print(f"The time difference is {difference} seconds.")

time_input_next_day = '23:00:00-01:00:00'
difference_next_day = calculate_time_difference_in_seconds(time_input_next_day)
print(f"The time difference is {difference_next_day} seconds.")

The time difference is 4252 seconds.
The time difference is 7200 seconds.

# Quiz6
เขียน function ของ HW2 -> มีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ 1 ตัว

commit "quiz6"

In [ ]:
# prompt: เขียนฟังก์ชันคำนวณวินาที จาก เวลาที่ใส่เข้ามา

def time_to_seconds(time_str):
    """Converts a time string (HH:MM:SS) to seconds."""
    h, m, s = map(int, time_str.split(':'))
    return h * 3600 + m * 60 + s

In [ ]:
# prompt: แสดงการใช้งาน

def quiz6(time_range_str, day2_str=None):
    """
    Calculates the time and day difference between two points in time.

    Args:
        time_range_str (str): A string formatted as 'HH:MM:SS, Day1 - HH:MM:SS'.
                              Day1 is the start day.
        day2_str (str, optional): The end day. If None, it's assumed to be the same as Day1.

    Returns:
        tuple: A tuple containing the day difference and the second difference.
    """
    day_order = {
        'Sunday': 0, 'Monday': 1, 'Tuesday': 2, 'Wednesday': 3,
        'Thursday': 4, 'Friday': 5, 'Saturday': 6
    }

    # Separate time and day for the start
    start_str, end_part = time_range_str.strip().split(' - ')
    time1_str, day1_str = start_str.split(', ')

    # Separate time for the end
    time2_str = end_part.split(', ')[0]

    # If day2_str is not provided, assume it's the same as day1_str
    if day2_str is None:
        day2_str = day1_str

    # Convert times to seconds
    t1_sec = time_to_seconds(time1_str)
    t2_sec = time_to_seconds(time2_str)

    # Calculate day difference
    day_diff = (day_order[day2_str] - day_order[day1_str]) % 7

    # Calculate second difference
    sec_diff = t2_sec - t1_sec

    # Adjust for negative second difference by borrowing a day
    if sec_diff < 0:
        sec_diff += 86400  # Add seconds in a day
        day_diff -= 1
        if day_diff < 0: # Handle wrapping around the week
            day_diff += 7

    return day_diff, sec_diff

# Example usage:
# Same day
d, s = quiz6("12:30:15, Wednesday - 13:41:07")
print(f"Same day: {d} วัน {s} วินาที")

# Next day
d, s = quiz6("12:53:15, Monday - 00:59:25", day2_str='Tuesday')
print(f"Next day: {d} วัน {s} วินาที")

# Multiple days difference
d, s = quiz6("16:06:09, Sunday - 11:11:11", day2_str='Tuesday')
print(f"Multiple days: {d} วัน {s} วินาที")

Same day: 0 วัน 4252 วินาที
Next day: 0 วัน 43570 วินาที
Multiple days: 1 วัน 68702 วินาที

# ตัวอย่าง quiz 6

In [ ]:
##########################################################

In [ ]:
# ตารางลำดับวัน
day_order = {
    'Sunday': 0, 'Monday': 1, 'Tuesday': 2, 'Wednesday': 3,
    'Thursday': 4, 'Friday': 5, 'Saturday': 6
}

# ฟังก์ชันแปลงเวลาเป็นวินาที
def time_to_seconds(t):
    h, m, s = map(int, t.split(":"))
    return h * 3600 + m * 60 + s

# ฟังก์ชันหลักของ quiz6
def quiz6(time1, time2, day1, day2=None):
    # ถ้า day2 ไม่ได้ใส่มา → สมมุติว่าเป็นวันเดียวกับ day1
    if day2 is None:
        day2 = day1

    t1_sec = time_to_seconds(time1)
    t2_sec = time_to_seconds(time2)

    day_diff = (day_order[day2] - day_order[day1]) % 7
    total_sec = day_diff * 86400 + (t2_sec - t1_sec)

    # ถ้าเวลาในวันถัดไปน้อยกว่า → ข้ามวัน
    if total_sec < 0:
        total_sec += 86400

    return total_sec

In [ ]:
# ตัวอย่าง 1: ต่างวัน
print("Case 1:", quiz6("12:30:15", "13:41:07", "Wednesday", "Thursday"))  # → 90,052 วินาที

# ตัวอย่าง 2: ต่างวัน แต่ไม่ได้กรอก day2 (ให้ default)
print("Case 2:", quiz6("12:53:15", "00:59:25", "Monday", "Tuesday"))  # → 43,570 วินาที

# ตัวอย่าง 3: ข้าม 2 วัน
print("Case 3:", quiz6("16:06:09", "11:11:11", "Sunday", "Tuesday"))  # → 155,402 วินาที

Case 1: 90652
Case 2: 43570
Case 3: 155102

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

#inspect existing function

- https://www.w3schools.com/python/ref_func_print.asp

- https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier

In [ ]:
print('abc','def')

abc def

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] : ### หน้าที่ของ for คือดึงสมาชิกเข้ามา
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ) ### {i} -> / เป็น สมาชิกใน i ตามด้วย -> /

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4)) # จุดเริ่มต้นของลำดับ คือ เริ่มจาก -3, จุดสิ้นสุด ไม่รวม ค่านี้ คือ จะหยุดก่อนถึง 20, ระยะห่างระหว่างแต่ละค่าคือ 4 = start stop step

[-3, 1, 5, 9, 13, 17]

# วนลูปโดยสนใจสมาชิกและลำดับ

In [ ]:
index = 0
for i in 'Patcharee':
    print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')
    index += 1

สมาชิกคือ P เป็นลำดับที่ 0
สมาชิกคือ a เป็นลำดับที่ 1
สมาชิกคือ t เป็นลำดับที่ 2
สมาชิกคือ c เป็นลำดับที่ 3
สมาชิกคือ h เป็นลำดับที่ 4
สมาชิกคือ a เป็นลำดับที่ 5
สมาชิกคือ r เป็นลำดับที่ 6
สมาชิกคือ e เป็นลำดับที่ 7
สมาชิกคือ e เป็นลำดับที่ 8

In [ ]:
index = 0
for i in 'Thanapong':
    print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')
    index += 1

สมาชิกคือ T เป็นลำดับที่ 0
สมาชิกคือ h เป็นลำดับที่ 1
สมาชิกคือ a เป็นลำดับที่ 2
สมาชิกคือ n เป็นลำดับที่ 3
สมาชิกคือ a เป็นลำดับที่ 4
สมาชิกคือ p เป็นลำดับที่ 5
สมาชิกคือ o เป็นลำดับที่ 6
สมาชิกคือ n เป็นลำดับที่ 7
สมาชิกคือ g เป็นลำดับที่ 8

In [ ]:
for index,i in enumerate('Thanapong'):
    print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')

สมาชิกคือ T เป็นลำดับที่ 0
สมาชิกคือ h เป็นลำดับที่ 1
สมาชิกคือ a เป็นลำดับที่ 2
สมาชิกคือ n เป็นลำดับที่ 3
สมาชิกคือ a เป็นลำดับที่ 4
สมาชิกคือ p เป็นลำดับที่ 5
สมาชิกคือ o เป็นลำดับที่ 6
สมาชิกคือ n เป็นลำดับที่ 7
สมาชิกคือ g เป็นลำดับที่ 8

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

# quiz 7 วนลูป แสดงค่า ตัวเลขออกมาเป็นสามเหลี่ยม ตามตัวอย่างนี้

ex:

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

In [ ]:
n = 5  # หรือใส่จำนวนแถวที่ต้องการ
for i in range(1, n + 1):        # แถวที่ i
    for j in range(1, i + 1):    # j ตัวในแถวนั้น
        print(i * j, end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i*j,end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

จบ 24 มิย 67

**mine**

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['ปุณ','น้องปุณ','ปุณปุณ','หมาบ้า','ปุณกร','นกเงือก']

In [ ]:
print_feelings('แบมบี้',list_friends)

แบมบี้ คิดถึง ปุณ
แบมบี้ คิดถึง น้องปุณ
แบมบี้ คิดถึง ปุณปุณ
แบมบี้ คิดถึง หมาบ้า
แบมบี้ คิดถึง ปุณกร
แบมบี้ คิดถึง นกเงือก

In [ ]:
####################################################################################################################

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

**mine**

In [ ]:
# ฟังก์ชันแปลงเวลาและรองรับกรณีข้ามวัน
def time_to_second(time1, time2):
    # แยกเวลาเป็น [ชั่วโมง, นาที, วินาที]
    h1, m1, s1 = map(int, time1.split(':'))
    h2, m2, s2 = map(int, time2.split(':'))

    # แปลงเป็นวินาที
    time1_sec = h1 * 3600 + m1 * 60 + s1
    time2_sec = h2 * 3600 + m2 * 60 + s2

    # ถ้า time2 < time1 แสดงว่าข้ามวัน → บวก 24 ชั่วโมง (86400 วินาที)
    if time2_sec < time1_sec:
        time2_sec += 86400

    return time2_sec - time1_sec

# ลิสต์เวลาตัวอย่าง
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],
    ["23:55:00", "00:15:00"],  # ตัวอย่างข้ามวัน
    ["22:30:30", "01:00:00"]   # ตัวอย่างข้ามวัน
]

In [ ]:
# วนลูปแสดงผลลัพธ์
for time1, time2 in time_list:
    diff_seconds = time_to_second(time1, time2)
    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 23:55:00 - 00:15:00 is 1200 seconds
Time difference between 22:30:30 - 01:00:00 is 8970 seconds

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [4]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

In [7]:
# mine
score = -60
if score >= 80:
    print("Excellent")
elif score >= 60:
    print("Pass")
else:
    print("Fail")

Fail

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [9]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [10]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [11]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม loop เข้าไปใน Quiz 6 โดยวนลูป คำนวน วินาที ในโจทย์ ต่อไปนี้



```
[
    ("10:00:00", "Monday", "11:30:00", 5400),  # Same day, later time
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),  # Same day, earlier time
    ("23:00:00", "Sunday", "01:00:00", , 7200),  # Cross midnight
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),  # Cross midnight (reverse)
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200), # Multiple days difference
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200), # Multiple days difference (reverse)
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),      # Same time, same day
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600), # Same time, next day
    ("00:00:00", "Monday", "23:59:59", , 24*3600 - 1), # Almost 24 hours later
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),       # One second difference across midnight
]

```

In [12]:
def time_to_seconds(time_str):
    h, m, s = map(int, time_str.split(":"))
    return h * 3600 + m * 60 + s

def day_to_index(day):
    days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
    return days.index(day)

def quiz6(start_time, start_day, end_time, end_day=None):
    start_sec = time_to_seconds(start_time)
    end_sec = time_to_seconds(end_time)

    if end_day is None:
        day_diff = 0
    else:
        start_idx = day_to_index(start_day)
        end_idx = day_to_index(end_day)
        day_diff = (end_idx - start_idx) % 7

    total_seconds = end_sec - start_sec + (day_diff * 24 * 3600)

    # ถ้าผลติดลบ แสดงว่าเวลาเริ่มมากกว่าเวลาสิ้นสุดในวันเดียวกัน ต้องบวก 24 ชั่วโมง
    if total_seconds < 0:
        total_seconds += 24 * 3600

    return total_seconds

# --- HW3 วนลูปข้อมูลทดสอบ ---

test_cases = [
    ("10:00:00", "Monday", "11:30:00", None, 5400),
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),
    ("23:00:00", "Sunday", "01:00:00", None, 7200),
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200),
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200),
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600),
    ("00:00:00", "Monday", "23:59:59", None, 24*3600 - 1),
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),
]

# รันและแสดงผล
for case in test_cases:
    start_time, start_day, end_time, *rest = case
    expected = rest[-1]
    end_day = rest[0] if len(rest) == 2 else None
    result = quiz6(start_time, start_day, end_time, end_day)
    print(f"{start_time}, {start_day} -> {end_time}, {end_day or start_day}: {result} sec | Expected: {expected} | {'✅' if result == expected else '❌'}")

10:00:00, Monday -> 11:30:00, Monday: 5400 sec | Expected: 5400 | ✅
11:30:00, Monday -> 10:00:00, Monday: 81000 sec | Expected: 5400 | ❌
23:00:00, Sunday -> 01:00:00, Sunday: 7200 sec | Expected: 7200 | ✅
01:00:00, Monday -> 23:00:00, Sunday: 597600 sec | Expected: 7200 | ❌
10:00:00, Tuesday -> 11:30:00, Thursday: 178200 sec | Expected: 178200 | ✅
11:30:00, Thursday -> 10:00:00, Tuesday: 426600 sec | Expected: 178200 | ❌
12:00:00, Monday -> 12:00:00, Monday: 0 sec | Expected: 0 | ✅
12:00:00, Monday -> 12:00:00, Tuesday: 86400 sec | Expected: 86400 | ✅
00:00:00, Monday -> 23:59:59, Monday: 86399 sec | Expected: 86399 | ✅
23:59:59, Sunday -> 00:00:00, Monday: 1 sec | Expected: 1 | ✅

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [18]:
a = 2<3
print(a)

True

In [21]:
b = 7 in range(7)
print(b)

False

In [22]:
a & b

False

In [24]:
a | b

True

In [25]:
if (2 < 3) & 7 in range(10):
    print('yes')

yes

In [19]:
if (1>0) & (0>-1):
    print(True & True)

True

In [14]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [15]:
def return_nothing(x):
    x = x+1

In [16]:
a = return_nothing(5)

In [17]:
if a is None:
    print('x is null')

x is null

# break คือ ออกจาก loop

In [42]:
numbers = [0,2,8,24,5,60,70,81,9,10]
# สร้างฟังก์ชันตรวจสอบว่าใน List มีเลขคี่ หรือเปล่า
def check_odd_in_list(input_list):
    for i in input_list:
        if i % 2 != 0:
            print(f'มีเลขคี่ คือ {i}')
    print('ไม่มีเลขคี่')

check_odd_in_list(numbers)

มีเลขคี่ คือ 5
มีเลขคี่ คือ 81
มีเลขคี่ คือ 9
ไม่มีเลขคี่

In [46]:
numbers = [0,2,8,24,5,60,70,81,9,10]
# สร้างฟังก์ชันตรวจสอบว่าใน List มีเลขคี่ หรือเปล่า
def check_odd_in_list(input_list):
    for i in input_list:
        if i % 2 != 0:
            print(f'มีเลขคี่ คือ {i}')
            return
    print('ไม่มีเลขคี่')
    return input_list

check_odd_in_list(numbers)
check_odd_in_list([0,2,8,24])

มีเลขคี่ คือ 5
ไม่มีเลขคี่

[0, 2, 8, 24]

# Finish